<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/static/css/new-employee.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;0,800;1,400&display=swap" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="/static/static/icons/iconLogo.ico">
    <script src="https://kit.fontawesome.com/70baa4fbad.js" crossorigin="anonymous"></script>
    <title>Nuevo empleado</title>
</head>
<body>
    <div class="wrapper">
        <div class="sidebar">
           <!--enterprise image-->
           <div class="enterpriseImage">
            <img src="/static/static/images/logo.png" alt="logo">
           </div>
           <!--Menu item-->
            <ul>
                <li><a href="https://techgyment.herokuapp.com/transactions">
                    <span class="icon"><i class="fa-solid fa-money-bill-transfer"></i></span>
                    <span class="item">Movimientos</span>
                </a></li>
                <li><a href="https://techgyment.herokuapp.com/new-transaction">
                    <span class="icon"><i class="fa-solid fa-arrow-down-up-across-line"></i></span>
                    <span class="item">Nueva transacción</span>
                </a></li>
                <li><a href="https://techgyment.herokuapp.com/new-enterprise">
                    <span class="icon"><i class="fa-solid fa-building"></i></span>
                    <span class="item">Nueva empresa</span>
                </a></li>
                <li><a href="https://techgyment.herokuapp.com/new-employee">
                    <span class="icon"><i class="fa-solid fa-user-tie"></i></span>
                    <span class="item">Nuevo empleado</span>
                </a></li>
            </ul>
        </div>
        <div class="section">
            <div class="top-navbar"></div>
        </div>
        <div id="formContainer">
            <form th:action="@{/employees}" th:method="post" th:object="${employees}" id="form">
                <div id="titleContainer">
                    <p>Nuevo empleado</p>
                </div>
                <div class="inputContainer">
                    <input type="text" placeholder="Nombre completo" class="inputContainerField" id="inputName" th:field="*{name}" >
                </div>
                <div class="inputContainer">
                    <input type="text" placeholder="Correo electrónico" class="inputContainerField" id="inputEmail" th:field="*{email}">
                </div>
                <div class="inputContainer">
                    <input type="text" placeholder="Empresa" class="inputContainerField" id="inputEnterprise" th:field="*{enterprise}" >
                </div>
                <div class="inputContainer">
                    <input type="text" placeholder="Rol" class="inputContainerField" id="inputRol" th:field="*{role}" >
                </div>
                <br>
                <div class="inputContainer">
                    <input type="text" placeholder="Usuario" class="inputContainerField" id="inputUsername" th:field="*{username}">
                </div>
                <div class="inputContainer">
                    <input type="password" placeholder="Contraseña" class="inputContainerField" id="inputPassword" th:field="*{password}">
                </div>
                <div id="buttonContainer">
                    <button class="button" type="submit">Crear</button>
                    <button class="button" type="reset">Borrar todo</button>
                </div>
            </form>
        </div>
    </div>
</body>
</html>